<h1>Welcome to Gifbot</h1>

<h2> Search for a Gif </h2>
<form action="/gif_search" method="post">
  <input type="text" name="search[gif_name]" />
  <input type="submit" value="Search for a Gif" />
</form>

<div>
  <% unless @result.nil? %>
    <% @result.each do |gif| %>
      <iframe src="<%= gif.embed_url %>?html5=true" width="500" height="385" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <% end %>
  <% end %>
</div>
